@mixin reset-form-element{
    outline-color: lightseagreen;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    &:active,
    &:focus{
        outline-color: lightseagreen;
    }
}  

input{
    @include reset-form-element;
    width: 200px;
    padding: 0 15px;
    margin-right: 20px;
}