@mixin reset-form-element{
    outline-color: lightseagreen;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    &:active,
    &:focus{
        outline-color: lightseagreen;
    }
}  

form{
    padding: 20px;
    background: lightgray;
    border: 1px solid black;
    border-top: 0;
    input{
        margin-right: 20px;
    }
    select{
        margin-right: 20px;
    }
    // button{
    //     @include reset-form-element;
    //     width: 150px;
    //     background: white;
    //     cursor: pointer;
    //     transition: background .2s ease-in-out, color .2s ease-in-out;
    //     &:hover{
    //         color: white;
    //         background: lightseagreen;
    //         transition: background .2s ease-in-out, color .2s ease-in-out;
    //     }
    // }
}