button{
    padding: 0 15px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    outline-width: 0px;
    outline-color: transparent;
    cursor: pointer;
    background: white;
    transition: .2s ease-in-out;
    &:hover{
        background: #333;
        color: white;
        transition: .2s ease-in-out;
    }
}