.main{
    padding: 30px;
    border-bottom: 1px solid white;
}
.title{
    font-size: 18px;
    color: blue;
}
.punct{
    margin-top: 20px;
    span{
        font-size: 18px;
        font-weight: 600;
        padding-left: 20px;
        text-decoration: underline;
    }
}