.contact{
  padding: 10px;
  border-radius: 10px;
  background: lightblue;
  margin-top: 10px;
  &__inner{
    background: #fff;
    padding: 15px 10px;
    border-radius: 10px;
  }
  &__info{
    margin: 10px 0;
  }
  &__wrapper{
    button{
      &:last-child{
        margin-left: 10px;
      }
    }
  }
  &__back{
    margin-top: 10px;
  }
}