select{
    width: 200px;
    height: 30px;
    border-radius: 4px;
    outline-width: 0px;
    outline-color: transparent;
    border: 1px solid #333;
    &:active,&:focus{
        outline-width: 0px;
        outline-color: transparent;
    }
}